/*? Font*/
@import url("https://fonts.googleapis.com/css2?family=Electrolize&display=swap");
/*! BASE CSS START*/
* {
  margin: 0; /*? Tarayıcıdan gelen margin değerini sıfırlamak için*/
}
body {
  height: 100vh;
  font-family: "Electrolize", sans-serif;
}
/*! BASE CSS END*/

/*! NAVBAR CSS START*/

.navbar {
  background-color: black;
  height: 60px;
  color: white;
  position: sticky;
  top: 0;
}
.navbar-wrapper {
  height: 100%;
  display: flex;
  justify-content: space-between;
  padding: 0 50px;
  align-items: center;
}
.menu-list {
  display: flex;
  list-style: none;
  column-gap: 30px;
}
.menu-list-item {
  cursor: pointer;
}
.menu-list-item:hover {
  font-weight: bold;
}
.menu-list-item.active {
  font-weight: bold;
}
.logo-wrapper {
  display: flex;
  align-items: center;
  cursor: pointer;
}
.logo {
  color: #ff4646;
  font-size: 25px;
}
.logo-img {
  width: 60px;
  height: 60px;
  border-radius: 50%;
  object-fit: cover;
}
.profile-user {
  width: 40px;
  height: 40px;
  object-fit: cover;
  border-radius: 50%;
}
.profile-container {
  display: flex;
  align-items: center;
  justify-content: center;
  column-gap: 10px;
}
.profile-text-container {
  display: flex;
  align-items: center;
  justify-content: center;
  column-gap: 5px;
  line-height: 1;
}
.toggle {
  width: 40px;
  background-color: white;
  position: relative;
  height: 20px;
  border-radius: 30%;
  display: flex;
  align-items: center;
  justify-content: space-around;
}
.toggle-icon {
  color: red;
}
.toggle-ball {
  width: 18px;
  height: 18px;
  background-color: black;
  border-radius: 50%;
  cursor: pointer;
  position: absolute;
  right: 0;
}

/*! NAVBAR CSS END*/

/*! SIDEBAR CSS START*/
.sidebar {
  background-color: black;
  color: white;
  height: 100vh;
  width: 60px;
  display: flex;
  flex-direction: column;
  padding-top: 60px;
  row-gap: 40px;
  align-items: center;
  position: fixed;
  top: 0;
}
.sidebar > i {
  font-size: 25px;
  cursor: pointer;
}

/*! SIDEBAR CSS END*/

/*! FEATURED CSS START*/
.content-wrapper {
  margin-left: 60px;
}
.featured-content {
  background: url("img/movies/spiderma_n.jpg");
  background-repeat: no-repeat;
  padding: 50px;
  height: calc(100vh - 160px);
  background-size: 100% 100%;
}
.featured-title {
  width: 400px;
}
.featured-desc {
  width: 500px;
  background-color: rgba(255, 255, 255, 0.5);
  padding: 14px;
  margin: 30px 0;
}
.featured-buttons {
  display: flex;
  column-gap: 20px;
}
.featured-buttons button {
  padding: 10px 25px;
  border-radius: 5px;
  outline: none;
  border: none;
  cursor: pointer;
  font-weight: bold;
  display: flex;
  column-gap: 10px;
  font-size: 16px;
  font-weight: bold;
}
.info-button {
  background-color: rgba(145, 142, 142, 0.5);
  color: white;
}
/*! FEATURED CSS END*/
