@import url("https://fonts.googleapis.com/css?family=Muli&display=swap");

* {
  box-sizing: border-box;
}

body {
  background-color: #3b3b98;
  color: #fff;
  display: flex;
  font-family: "Muli", sans-serif;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 10px;
  min-height: 100vh;
  overflow: hidden;
}
.head {
  border: 1px solid darkgreen;
  border-radius: 20px;
  background-color: rgb(47, 47, 228);
  width: 400px;
  height: 160px;
}
.head > div {
  margin: 20px 0 8px 15px;
}
.head > div:nth-child(1) {
  font-size: 18px;
  font-weight: 700;
}
#filterText {
  border: 0;
  border-radius: 10px;
  width: 350px;
  height: 30px;
  background-color: crimson;
  color: white;
  font-size: 16px;
}
#filterText::placeholder {
  color: white;
  text-indent: 9px;
}
.list-decoration-none {
  list-style: none;
  margin: 0;
  padding: 0;
}
.list > li {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.bottom {
  overflow-y: auto;
  background-color: rgb(47, 47, 228);
  border-radius: 15px;

  height: 400px;
}
li {
  border-bottom: 1px solid crimson;
}
::-webkit-scrollbar {
  width: 9px; /* scrollbar genişliği */
}

::-webkit-scrollbar-thumb {
  background-color: crimson; /* scrollbar "thumb" rengi (kaydırılabilir alan) */
  border-radius: 26px;
}

::-webkit-scrollbar-track {
  background-color: rgb(
    47,
    47,
    228
  ); /* scrollbar izleme alanı rengi (kaydırma yolu) */
}
.imgPhoto {
  margin-left: 20px;
  border-radius: 50%;
}
.user-info {
  margin-right: 20px;
}
.hide {
  display: none !important;
}
