<div class="row">
  <div class="col-md-2"></div>
  <div class="col-md-8">
    <nav class="navbar navbar-expand-lg navbar-light bg-light">
      <a class="navbar-brand" href="#">Mini E-Ticare</a>
      <button
        class="navbar-toggler"
        type="button"
        data-toggle="collapse"
        data-target="#navbarSupportedContent"
        aria-controls="navbarSupportedContent"
        aria-expanded="false"
        aria-label="Toggle navigation"
      >
        <span class="navbar-toggler-icon"></span>
      </button>

      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav mr-auto">
          <li class="nav-item active">
            <a class="nav-link" routerLink="" href="#">Ana Sayfa</a>
          </li>

          <li class="nav-item">
            <a class="nav-link" routerLink="products" href="#">Ürünler </a>
          </li>
          <li class="nav-item">
            <a class="nav-link" routerLink="basket" href="#">Sepet</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" routerLink="register" href="#">Kayıt Ol</a>
          </li>
          <li class="nav-item">
            <a class="btn btn-outline-success my-2 my-sm-0" routerLink="admin">
              Yönetim Paneli
            </a>
          </li>
        </ul>
      </div>
    </nav>
  </div>
  <div class="col-md-2"></div>
</div>
<div class="row">
  <div class="col-md-2"></div>
  <div class="col-md-8">
    <router-outlet></router-outlet>
  </div>
  <div class="col-md-2"></div>
</div>

<ngx-spinner
  bdColor="rgba(30,30,31,0.8)"
  size="default"
  color="yellow"
  size="default"
  type="line-spin-fade"
></ngx-spinner>
